@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@500 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: #0d0d13;
    color: #fff;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0,5em;
}

.brand {
    align-items: center;
}

.brand img {
    width: 150px
}

.menu img {
  width: 40px
}

.menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.menu  li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;

}
.menu a:hover {
  color: #000;
  text-decoration: none;

}

.menu li:hover img {
    background-color: #ff0400;
    border-radius: 20px;
    cursor: pointer;
}


.menu .cuenta { 
  padding: 10px 20px;
  background-color: #ff0400;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -5px;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
}

.menu .cuenta:hover {
    background-color: azure;
    box-shadow: none;
    color: black;
}


/*Perfil*/
.inicio {
  background: linear-gradient(to top, rgba(30,35,38,.5),rgba(30,35,38,.7)),
  url(assets/codigo.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .banner {
  padding: 20px;
  background-color: #0d0d13;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .banner:hover {
  padding: 20px;
  border: 2px ;
  border-radius: 40px;
  background-color: #323232;
  transition: all .7s;
}

.inicio .banner {
  --hoverContorno: #f4f4f4;
}

.inicio .banner:hover,
.inicio .banner:focus {
  -webkit-animation: cardAnimacion 1.7s;
  animation: cardAnimacion 1.7s;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
  border-radius: 40px;
}

@-webkit-keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

@keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

.inicio .banner img{
  margin-top: 40px;
  border: 8px solid #ff0400;
  display: block;
  width: 100%;
  margin:auto;
  border-radius: 100%;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
}


.inicio .banner h1{
  margin-top: 10px;
  font-size: 40px;

}

.inicio .banner h2{
  font-size: 25px;
  font-weight: normal;
}

/*Acerca de mi*/

.info {
  background-color: #0d0d13;
  color: #ffffff;
  padding: 2em 2em;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  align-items: center;
}

.info .about {
  width: 90%;
  margin: auto;
}

.info h2 {
  font-size: 30px;
  color: #da2d2d;
  font-family: inherit;
  position: relative;
  background: none;
  text-transform: uppercase;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
}

.info h2:focus,
.info h2:hover {
  color: #fff;
}

.info h2:focus:after,
.info h2:hover:after {
  width: 100%;
  left: 0%;
}

.info h2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0400;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}

.info h3{
  font-size: 20px;
  font-weight: normal;
}

/*Descarga CV*/

.info .button {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #da2d2d;
  background-color: #ff0400;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}

.info .button, .button__icon, .button__text {
  transition: all 0.3s;
}

.info .button .button__text {
  transform: translateX(10px);
  color: #fff;
  font-weight: 700;
}

.info .button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #da2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .button .svg {
  width: 20px;
  fill: #fff;
}

.info .button:hover {
  background: #da2d2d;
}

.info .button:hover .button__text {
  color: transparent;
}

.info .button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.info .button:active .button__icon {
  background-color: #da2d2d;
}

.info .button:active {
  border: 1px solid #da2d2d;
}

/*EXPERIENCIA*/
/*EXPERIENCIA TITULO*/
.exp {
  background-color: #0d0d13;
  color: #ffffff;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  align-items: center;

}

.exp .about {
  max-width: 1000px;
  margin: auto;
}

.exp .titulo h2 {
  font-size: 30px;
  color: #da2d2d;
  position: relative;
  background: none;
  text-transform: uppercase;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
  text-align: center;
  align-items: center;
}

.exp .titulo h2:focus,
.exp .titulo h2:hover {
  color: #fff;
}

.exp .titulo h2:focus:after,
.exp .titulo h2:hover:after {
  width: 100%;
  left: 0%;
}

.exp .titulo h2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0400;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}
/*EXPERIENCIA CUADROS*/

/*EDUCACUION*/
/*EDUCACUION TITULO*/
.educ {
  background-color: #0d0d13;
  color: #ffffff;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  align-items: center;
}

.educ .about {
  max-width: 1000px;
  margin: auto;
}

.educ h2 {
  font-size: 30px;
  color: #da2d2d;
  position: relative;
  background: none;
  text-transform: uppercase;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
  text-align: center;
  align-items: center;
}

.educ h2:focus,
.educ h2:hover {
  color: #fff;
}

.educ h2:focus:after,
.educ h2:hover:after {
  width: 100%;
  left: 0%;
}

.educ h2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0400;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}

/*EDUCACUION CUADROS*/

html, body {
  background-color: #0d0d13;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.cd-container {
width: 90%;
max-width: 1080px;
margin: 0 auto;
background: #2B343A; /*#2B343A*/
padding: 0 10%;
border-radius: 2px;
}
.cd-container::after {
content: '';
display: table;
clear: both;
}

/*EDUCACUION CUADROS COMPONENTES*/

#cd-timeline {
position: relative;
padding: 0.1em 0 2em;
margin-top: 2em;
margin-bottom: 2em;
}
#cd-timeline::before {
content: '';
position: absolute;
top: 0;
left: 25px;
height: 100%;
width: 4px;
background: #ff0400;
}
@media only screen and (min-width: 1170px) {
#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em;
}
#cd-timeline::before {
  left: 50%;
  margin-left: -2px;
}
}

.cd-timeline-block {
position: relative;
margin: 2em 0;
}
.cd-timeline-block:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-block:first-child {
margin-top: 0;
}
.cd-timeline-block:last-child {
margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-block {
  margin: 4em 0;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
}

.cd-timeline-img {
position: absolute;
top: 8px;
left: 12px;
width: 30px;
height: 30px;
border-radius: 50%;
box-shadow: 0 0 0 4px #ff0400, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
background: #da2d2d;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-img {
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: 15px;
}
}

.cd-timeline-content {
position: relative;
margin-left: 60px;
margin-right: 30px;
background: #333C42;
border-radius: 2px;
padding: 1em;

}
.cd-timeline-content:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-content h2 {
color: rgba(255,255,255,.9);
margin-top:0;
margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
color: rgba(255,255,255,.7);
font-size: 13px;
font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
display: inline-block;
}
.cd-timeline-content p {
margin: 1em 0;
line-height: 1.6;
}

.cd-timeline-content::before {
content: '';
position: absolute;
top: 16px;
right: 100%;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
.cd-timeline-content h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-timeline-content p {
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 14px;
  font-size: 0.875rem;
}
}
@media only screen and (min-width: 1170px) {
.cd-timeline-content {
  color: white;
  margin-left: 0;
  padding: 1.6em;
  width: 36%;
  margin: 0 5%
}
.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #333C42;
}
.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #333C42;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}
}

/*EDUCACION LOGOS*/
.cd-timeline-content img {
  width: 150px
}
.cd-timeline-content #IPET260 {
  width: 120px
}
.cd-timeline-content #unc {
  width: 150px
}

/*SKILLS*/
        
#skills {
  background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.7)), url(assets/computadora.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center center;
  padding: 100px 0;
}

/* Skills titulo */
#skills h2 {
  max-width: 1000px;
  margin: auto;
}
#skills h2 {
  font-size: 30px;
  color: #fff;
  font-family: inherit;
  position: relative;
  background: none;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
}

#skills h2:focus,
#skills h2:hover {
  color: #da2d2d;
}

#skills h2:focus:after,
#skills h2:hover:after {
  width: 100%;
  left: 0%;
}

#skills h2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0400;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}


/* Skills barras */

#skills .barras {
  width: 90%;
  margin: auto;
}

#skills span {
  top: -30px;
  left: 2%;
  position: relative;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: monospace;
  color: #fff;
}

progress {
  border: 0;
  height: 2.5em;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #e0eaf0;
}

progress::-webkit-progress-value {
  background-color: #da2d2d;;
}

progress::-moz-progress-bar {
  background-color: #da2d2d;;
}

/*PORTAFOLIO*/
/*PORTAFOLIO TITULO*/
.port {
  background-color: #0d0d13;
  color: #000;
  padding: 10px 20px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  align-items: center;
}

.port .about {
  max-width: 1000px;
  margin: auto;
}

.port .titulo h2{
  font-size: 30px;
  color: #da2d2d;
  font-family: inherit;
  position: relative;
  background: none;
  text-transform: uppercase;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
}

.port .titulo h2:focus,
.port .titulo h2:hover {
  color: #fff;
}

.port .titulo h2:focus:after,
.port .titulo h2:hover:after {
  width: 100%;
  left: 0%;
}

.port .titulo h2:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0400;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}

/*PORTAFOLIO CUADRO*/

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(200, 200, 200, 0.7);
  margin-bottom: 4%;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 22px;
}
.blog-card .description h2 {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #ff0400;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 90%;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}